<div class="row">
  <div class="alert alert-error">
    {{#if this.expired}}
      {{i18n "password_expiry.password_expired"}}
    {{else}}
      {{i18n "password_expiry.password_expire_warning" count=this.daysLeft}}
    {{/if}}

    {{#if this.changing}}
      {{i18n "password_expiry.sending_email"}}
    {{else if this.changed}}
      {{i18n "password_expiry.email_sent" email=this.sentToEmail}}
    {{else}}
      <a {{action "changePassword"}} href="">{{i18n
          "password_expiry.change_password"
        }}</a>
    {{/if}}
  </div>
</div>