<div class="row">
  <div class="alert alert-error">
    {{#if expired}}
      {{i18n "password_expiry.password_expired"}}
    {{else}}
      {{i18n "password_expiry.password_expire_warning" count=daysLeft}}
    {{/if}}

    {{#if changing}}
      {{i18n "password_expiry.sending_email"}}
    {{else if changed}}
      {{i18n "password_expiry.email_sent" email=sentToEmail}}
    {{else}}
      <a {{action "changePassword"}}>{{i18n
          "password_expiry.change_password"
        }}</a>
    {{/if}}
  </div>
</div>